spring.thymeleaf.cache: false

logging:
  file: /log/zts/pos-web-counter.log
  level: INFO

posWeb:
 floor: B1
 ips: /*
 shopNo: 123
 contracNo: A23918
 updateLoadUrl:
 getDataUrl:
 dataPath: C:/temp/posData
server.port: 8082